#container{
    display: flex;
}
.square{
    background-color: lightseagreen;
    width: 30%;
    height: 200px;
    border: 1px solid black;
}
.rectangle{
    background-color: lightsalmon;
    width: 100%;
    height: 200px;
    /*flex-grow: 1;*/
}
/*
Nouvelles règles quand la largeur de l'écran fait au plus 980px
*/
@media screen and (max-width: 980px)
{
    #container{
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: lightslategrey; 
    }
    .square{
        background-color: lightgreen;

    }
}